.profile__btn {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  cursor: pointer;
}
